.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
    color: #429282;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
    background-color:  #429282;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
    
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
    
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  
}

table
{	
	margin-top:40px;
	margin-left:20px;
	text-align:center;
	border-collapse:collapse;
        
}
td, th
{
            padding:3px;
	border-bottom: 1px solid black;
	empty-cells:hide;
}
label
{
    display: block;
    width: 150px;
    float: left;
}


span{
    font-weight: bold;
    text-indent: 10%;
}

/*.marge{
    margin-left: 5em;
}*/

#espace{
    margin-left: 7em;
}

.marge_date{
    margin-left: 1em
}

.well-lg{
    color: white;
    background-color: #206C50;
    border-radius: 30px;
}

.inscription{
    color: #fff;
}

table.choix_rangees{
   border-collapse:collapse;
}


#quantite{
    border-bottom: #000;
}
table.choix_rangees td{
    padding:10px; margin:0;
}

table.choix_rangees tr{
   padding:0;
   margin:0;
   border:1px solid black;
}

 table.choix_rangees tr.choisi{
    background-color:#429282;
    color:white;
}
 table.choix_rangees tr.pas_coche {
    background-color:white;
    color:black;
 }
 table.choix_rangees label {
     display:block; 
     width:100%; 
     height:100%; 
     margin:0; 
     padding:0; 
     border:none; 
 }
 
 th{
    text-align: center;
    background-color: #429282;
    color: #fff;
 }
 
 .btn{
     background-color: #206C50;
 }
 
 a{
     color: #429282;
 }
 
 .active{
     background-color: #206C50;
 }
 
 em{
     font-weight: bold;
 }
 
 .entete{
     text-align: center;
 }
 
