/*--Tête--*/
.navbar{
	margin-bottom: 0;
}

.jumbotron{
	background:url('../image/logo.jpg');
	color:#ffffff;
	padding: 20px 0;
}

/*-- POST --*/
.main{
	margin-top: 20px;
	margin-bottom: 20px;
}

.post{
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #1F49BC /*bleu*/
}

/*.post .post-title a{
	color: #00BFFF; /*bleu ciel
}*/

.post .thumb{
	margin-right: 10px;
	width: 40%;
}

.post .thumb img{
	width: 100%;
}

.post-contenido{
	font-size: 150%;
}

.post-conten{
	font-size: 120%;
}

/*.post .contenedor-botones{
	width: 100%;
}*/

/*-- Actualité --*/
@media screen and (max-width: 768px) {
	.post .thumb {
		width: 100%;
		margin-bottom: 20px;
		margin-right: 0;
	}
}

#logo{
  width: 100%;
  height: 215%;
  margin-top: -10%;
}

::selection{
    background-color: #429282;
    color: white;
}

/*Firefoox*/
::-moz-selection{
    background-color: #429282;
    color: white;
}

.list-group-item:hover{
    background-color: #429282;
}

#nav{
  font-size: 120%; 
}

.white{
    color: white;
}

.glyphicon{
    color: #429282;
}

.text-center{
    font-size: 150%;
}