/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 nov. 2015, 16:53:19
    Author     : azou
*/
body
{
    background-color: #8CC6D7;
}
#tholdi
{
    margin-top: -47%;
}

#logo_tholdi
{
    width: 30%;
    height: 30%;
}

#titre_tholdi
{
    margin-top: -18%;
    width: 50%;
    height: 50%;
}

#menu li
{
    size: 100%;
    list-style: none;
    display: inline;
}

#banniere_tholdi
{
	height: 450px;
}

#tholdi
{
	margin-top: -47%;
}

#logo_tholdi
{
	margin-top: -275%;
	width:100%;
	height: 100%;
}

#titre_tholdi
{
	margin-top: -70%;
	width: 100%;
	height: 100%;
}

li
{
	list-style: none;
	display: inline;
	margin-left:0px;
}

#banniere
{
	width: 100%;
	height: 100%;
}

a
{
	text-decoration: none;
	border: 10% solid black;
}

#navigation
{
	margin-top: -13%;
}

#gris
{
	margin-top: 10%;
	width: 1170px;
	height: 400px;
}

#pied_de_page
{
	margin-top: -30%;
}

h2
{
	font-family: impact, sans serif;
	color: #E6E2AF;
}

.pied_de_page
{
	text-decoration: none;
	border: 3px solid #FF5900;
	border-radius: 10px;
	width: 50%;
	background-color: #FFFFFF;
}

#barre
{
	width:2px;
	height: 300px;
        margin-top: 5%;
}

#retour
{
    width: 90px;
    height: 90px;
    margin-top: -200%;
}

#banniere
{
    width: 100%;
    height: 100%;
}

a	
{
	text-decoration: none;
}

input, textarea
{
    font: 100% sans-serif;
    width: 25%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
}

input:focus, textarea:focus {
    border-color: #000;
}

textarea {
	width: 50%;
	height: 100%;
    vertical-align: top;
    resize: vertical;
}

#contactez-nous
{
	border: 10px double #6E81BD;
	border-radius: 10%;
}

label
{
	display: block;
}

#phrase
{
	font-style: italic;
	color: #FF5B2B;
}

footer
{
    background-image: url(../images/footer.png);
}

a:hover
{
    font-size: 150%;
}


li ul li
{
    list-style: none;
    position: relative;
}

li ul li a
{
    text-decoration: none;
    display: block;
    text-align: center;
}

ul ul
{
    position: absolute;
    visibility: hidden;	
}

ul li:hover ul
{
    visibility: visible;

}

ul ul a:hover
{
    text-decoration: none;
    background-color: #FF9900;
    border-radius: 10px;
}
