body
{
	background-color: #8CC6D7;
}

#banniere_tholdi
{
	height: 450px;
}

#tholdi
{
	margin-top: -47%;
}

#logo_tholdi
{
	margin-top: -275%;
	width:100%;
	height: 100%;
}

#titre_tholdi
{
	margin-top: -70%;
	width: 100%;
	height: 100%;
}

li
{
	list-style: none;
	display: inline;
	margin-left:0px;
}

#banniere
{
	width: 100%;
	height: 100%;
}

a
{
	text-decoration: none;
	border: 10% solid black;
}

#navigation
{
	margin-top: -13%;
}

#gris
{
	margin-top: 10%;
	width: 1170px;
	height: 400px;
}

#pied_de_page
{
	margin-top: -30%;
}

h2
{
	font-family: impact, sans serif;
	color: #E6E2AF;
}

.pied_de_page
{
	text-decoration: none;
	border: 3px solid #FF5900;
	border-radius: 10px;
	width: 50%;
	background-color: #FFFFFF;
}

#barre
{
	width:2px;
	height: 300px;
        margin-top: 5%;
}

#retour
{
    width: 90px;
    height: 90px;
    margin-top: -200%;
}

footer
{
    background-image: url(../images/footer.png);
}

a:hover
{
    font-size: 150%;
}

.images_conteneur
{
    width:100%;
    height: 100%;    
}

td
{
    border: 10px double #6E81BD;
    border-radius: 10px;
}

em
{
    font-weight: bold;
}

.produit_service
{
    font-family: impact,sans-serif;
    color: #E6E2AF;
}

tr
{
    border-radius: 10px;
}

table
{
    text-align: center;
}


li ul li
{
    list-style: none;
    position: relative;
}

li ul li a
{
    text-decoration: none;
    display: block;
    text-align: center;
}

ul ul
{
    position: absolute;
    visibility: hidden;	
}

ul li:hover ul
{
    visibility: visible;

}

ul ul a:hover
{
    text-decoration: none;
    background-color: #6E81BD;
    border-radius: 10px;
}
